{% extends "web/pattern/layout_detail_view_and_list.html" %}

{% load static %}

{% block title %}
<title>ROXcomposer - Services</title>
{% endblock title %}

{% block headline %}
<h1>ROXcomposer - Services</h1>
{% endblock headline %}

{% block detail_view %}
<br>

{% include 'web/pattern/pattern_detail_view.html' %}
<script src="{% static 'web/js/rox_services.js' %}"></script>
<script>
    show_empty_detail_view();
</script>

{% endblock detail_view %}

{% block list %}
{% csrf_token %}
{% include 'web/pattern/pattern_search_bar_and_list.html' %}
<script>
    add_watch_and_run_buttons()
    add_data_entries_from_remote($('#search_field')[0], 'go_to_detail_view(this)', $('#data_info_list')[0],'get_services');
    set_service_tooltips();
</script>
{% endblock list %}
