# Log files.
*.log

# JSON files.
*.json

# Testing database.
*.sqlite3

# PyCache folder.
**/__pycache__/*

# Migrations.
**/migrations/*

# Local static root folder.
/roxgui/static_root/**

# IDE
**/.idea/*