# Compiled Python files.
*.pyc

# Log files.
*.log

# Testing database.
*.sqlite3

# Migrations.
**/migrations/**

# Static root folder.
/roxgui/static_root/**

# IDE
**/.idea/**

# Local settings.
/roxgui/user_settings.py
