# Log files.
*.log

# JSON files.
*.json

# Testing database.
*.sqlite3

# Local config file.
/roxgui/config.ini

# Local static root folder.
/roxgui/static_root/**

# PyCache folder.
**/__pycache__/*

# Migrations.
**/migrations/*

# IDE
**/.idea/*

# Old files.
/archive/