{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'web/css/pattern_detail_view.css' %}">

<p hidden data-name="" data-run_func="{{callback_run}}" data-stop_func="{{callback_stop}}" data-save_func="{{callback_save}}" data-func="{{callback_func}}" id="detail_info"></p>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <div id="headline_detail" onclick="edit_detail_headline()"> <h4>{{ headline_detail }} </h4> </div>
            </div>
            <div class="col-md-4">

                <button type="button" id="btn-delete" class="btn btn-primary btn-round float-right disabled">
                    <span class="fas fa-trash"></span>
                </button>

                <button type="button" id="btn-watch" class="btn btn-primary btn-round float-right space-right disabled">
                    <span class="fas fa-eye"></span>
                </button>

                <button type="button" id="btn-edit" class="btn btn-primary btn-round float-right space-right disabled" onclick="edit_detail_headline(this)">
                    <span class="fas fa-pen"></span>
                </button>

                <button type="button" id="btn-run" class="btn btn-primary btn-round float-right space-right disabled" onclick="toggle_services(this)" data-status="0" data-toggle="tooltip" data-placement="bottom" data-title="Run/Stop Service">
                    <span class="fas fa-play"></span>
                </button>

            </div>
        </div>
    </div>
    <div class="card_body">
        <div class="container" style="height: 450px;">
            <div id="data_detail_list" class="row" style="height: 400px ; overflow-y: scroll;"></div>
            <div class="row align-bottom">
                <div class="col align-right">
                    <button type="button" id="btn-save" class="btn btn-primary btn-round float-right space-right disabled" onclick="save_detail()">
                        <span class="fas fa-check"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'web/js/pattern_input_field.js' %}"></script>
<script src="{% static 'web/js/pattern_detail_view.js' %}"></script>