{% block search_list %}
BLA
<div class="container">
    <input type="text" list="json-datalist" placeholder="e.g. datalist">
    <datalist id="json-datalist">
        <option value="HTML">
  <option value="CSS">
  <option value="JavaScript">
  <option value="Java">
  <option value="Ruby">
  <option value="PHP">
  <option value="Go">
  <option value="Erlang">
  <option value="Python">
  <option value="C">
  <option value="C#">
  <option value="C++">

    </datalist>
</div>
{% endblock search_list %}