<div class="col">
    <input type="text" list="data_name_list" placeholder="Search">
    <datalist id="data_name_list">
    </datalist>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5>Data</h5>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-default">
                        <span class="fas fa-plus"></span>
                    </button>
                </div>
            </div>
            <ul class="list-group" id="data_info_list"></ul>
        </div>
    </div>
</div>

<script>
    function add_data_entry(data_name, data_info) {
    	// Append entry to data name list.
    	var option = document.createElement('option');
    	option.setAttribute('id', "option_" + data_name)
    	option.appendChild(document.createTextNode(data_name));
    	document.getElementById('data_name_list').appendChild(option);

        // Append entry to data info list.
	    var li = document.createElement('li');
	    li.setAttribute("id", "info_" + data_name);
	    li.setAttribute("class", "list-group-item");
	    li.setAttribute("title", data_info);
	    li.appendChild(document.createTextNode(data_name));
	    document.getElementById('data_info_list').appendChild(li);
    }

    function remove_data_entry(data_name) {
        // Remove entry from data name list.
        document.getElementById("option_" + data_name).remove();

        // Remove entry from data info list.
        document.getElementById("info_" + data_name).remove();
    }
</script>