<!-- Main web page. -->

{% extends "base/base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}
<title>ROXcomposer</title>
<link rel="stylesheet" type="text/css" href="{% static 'web/css/web.css' %}">
{% endblock title %}

{% block content %}
<div class="row">
    <h1>Welcome!</h1>
</div>



<form action="get_message_history" method="post">
     {% csrf_token %}
     <input type="text" name="msg_id" value="A message ID">
     <input type="submit" value="Show History">
</form>
<br>
<div class="row">
    {% if available_service_names %}
    <div class="col-lg-1">
        <form action="start_service" method="post" id="start_service_form">
            {% csrf_token %}
            <select name="available_service_names" multiple>
                {% for name in available_service_names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>

        </form>
    </div>
    <div class="col-lg-1">
        <button type="submit" form="start_service_form" class="btn btn-default">></button>
        <br>
        <button type="submit" form="stop_service_form" class="btn btn-default"><</button>
    </div>
    <div class="col-lg-1">
        <form action="stop_service" method="post" id="stop_service_form">
            {% csrf_token %}
            <select name="running_service_names" multiple>
                {% for name in running_service_names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-lg-1">
        <input type="button" id="btnRight" value=">" class="btn btn-default"/><br>
        <input type="button" id="btnLeft" value="<" class="btn btn-default"/>
    </div>
    <div class="col-lg-1">
        <form action="start_pipeline" method="post">
            {% csrf_token %}
            <select name="service_names" multiple>
            </select>
        </form>
    </div>

</div>
{% else %}
<p>No services available.</p>
{% endif %}
</div>


<div class="row">
    {% if pipeline_data %}
    <ul class="list-group">
        {% for data in pipeline_data %}
        <li class="list-group-item">
            <div class="row">
                <form action="post_to_pipeline" method="post">
                    <div class="col-lg-2">
                        <p>{{ data.0 }}</p>
                    </div>
                    <div class="col-lg-6">
                        <select multiple>
                            {% for name in data.1 %}
                            <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        {% if data.2 %}
                        <p>Active</p>
                        {% else %}
                        <p>Inactive</p>
                        {% endif %}
                    </div>
                    {% csrf_token %}
                    <input type="hidden" name="pipeline_name" value={{data.0}}>
                    <input type="text" name="pipe_message">
                    <input type="submit" value="Send">
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No pipelines available.</p>
    {% endif %}
</div>

 <form action="save_session" method="post">
     {% csrf_token %}
     <input type="text" name="dumpfile" value="Filename.json">
     <input type="submit" value="Save Session">
 </form>
 <form action="load_session" method="post">
     {% csrf_token %}
     <input type="text" name="dumpfile" value="Filename.json">
     <input type="submit" value="Load Session">
 </form>

<script src="{% static 'web/js/web.js'%}"></script>
{% endblock content %}
