<!-- Main web page. -->

{% extends "base/base.html" %}

{% load staticfiles %}

{% load web_extras %}

{% block title %}
<title>ROXcomposer</title>
<link rel="stylesheet" type="text/css" href="{% static 'web/css/web.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/muuri_grid.css' %}">
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome!</h1>
        </div>
    </div>

    {% block muuri_grid %}
    {% include "web/_includes/muuri_grid.html" %}
    {% endblock %}

    {% block message_history %}
    {% include "web/_includes/message_history.html" %}
    {% endblock message_history %}

    {% block services_and_pipes %}
    {% include "web/_includes/services_and_pipes.html" %}
    {% endblock services_and_pipes %}

    {% block logs %}
    {% include "web/_includes/logs.html" %}
    {% endblock logs %}

    {% block messages %}
    {% include "web/_includes/messages.html" %}
    {% endblock messages %}

    {% block session %}
    {% include "web/_includes/session.html" %}
    {% endblock session %}

    {% block service_params %}
    {% include "web/_includes/service_params.html" %}
    {% endblock service_params %}

    {% block service_graph %}
    {% include "web/_includes/service_graph.html" %}
    {% endblock service_graph %}

</div>

<script src="{% static 'web/js/d3/d3.min.js'%}"></script>
<script src="{% static 'web/js/service_graph.js'%}"></script>
<script src="{% static 'web/js/web.js'%}"></script>
<script src="{% static 'web/js/rox_messages.js'%}"></script>
<script src="{% static 'web/js/rox_logs.js'%}"></script>
<script src="{% static 'web/js/service_handling.js'%}"></script>
<script src="{% static 'web/js/rox_watch.js'%}"></script>
<script src="{% static 'web/js/muuri_grid.js'%}"></script>

{% endblock content %}
