<!-- Main web page. -->

{% extends "base/base.html" %}

{% load static %}

{% block title %}
<title>ROXcomposer</title>
<link rel="stylesheet" type="text/css" href="{% static 'web/css/web.css' %}">
{% endblock title %}

{% block content %}
<div class="row">
    <h1>Welcome!</h1>
</div>

<div class="row">
    <form action="get_message_history" method="post">
        {% csrf_token %}
        <input type="text" name="msg_id" value="A message ID">
        <input type="submit" value="Show History">
    </form>
</div>

<div class="row">
    {% if available_service_names %}
    <div class="col-lg-2">
        <form action="start_service" method="post" id="available_service_form">
            {% csrf_token %}
            <select name="available_service_names" id="available_service_list" multiple>
                {% for name in available_service_names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-lg-1">
        <button type="submit" form="available_service_form" class="btn btn-default">></button>
        <br>
        <button type="submit" form="running_service_form" class="btn btn-default"><</button>
    </div>
    <div class="col-lg-2">
        <form action="stop_service" method="post" id="running_service_form">
            {% csrf_token %}
            <select name="running_service_names" id="running_service_list" multiple>
                {% for name in running_service_names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-lg-1">
        <input type="button" onclick="addToPipe()" value=">" class="btn btn-default"/>
        <br>
        <input type="button" onclick="removeFromPipe()" value="<" class="btn btn-default"/>
    </div>
    <div class="col-lg-2">
        <form action="create_pipeline" method="post">
            {% csrf_token %}
            <select name="piped_service_names" id="piped_service_list" multiple></select>
            <input type="submit" value="Create pipe">
        </form>
    </div>
    <div class="row">

    </div>
</div>
{% else %}
<p>No services available.</p>
{% endif %}
</div>


<div class="row">
    {% if pipeline_data %}
    <ul class="list-group">
        {% for data in pipeline_data %}
        <li class="list-group-item">
            <div class="row">
                <form action="post_to_pipeline" method="post">
                    <div class="col-lg-2">
                        <p>{{ data.0 }}</p>
                    </div>
                    <div class="col-lg-6">
                        <select multiple>
                            {% for name in data.1 %}
                            <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        {% if data.2 %}
                        <p>Active</p>
                        {% else %}
                        <p>Inactive</p>
                        {% endif %}
                    </div>
                    {% csrf_token %}
                    <input type="hidden" name="pipeline_name" value={{data.0}}>
                    <input type="text" name="pipe_message">
                    <input type="submit" value="Send">
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No pipelines available.</p>
    {% endif %}
</div>

<form action="save_session" method="post">
    {% csrf_token %}
    <input type="text" name="dumpfile" value="Filename.json">
    <input type="submit" value="Save Session">
</form>
<form action="load_session" method="post">
    {% csrf_token %}
    <input type="text" name="dumpfile" value="Filename.json">
    <input type="submit" value="Load Session">
</form>

<script src="{% static 'web/js/web.js'%}"></script>
{% endblock content %}
