{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'web/css/web.css' %}">

{% block session %}
    <div class="row">
        <div class="col-lg-12 mb-5">
            <h4 id="section1"><strong>Log</strong></h4>
            <div class="card example-1" style="height:200px;overflow-y:scroll">
              <div class="card-body" id="log">
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                  qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                  mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                  qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                  Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                  qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                  mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                  qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                  Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                  <h4 id="section1"><strong>First title of the news</strong></h4>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                  qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                  mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                  qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                  Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                  qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                  mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                  qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                  Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                  <h4 id="section1"><strong>First title of the news</strong></h4>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                  qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                  mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                  qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                  Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                  qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                  mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                  qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                  Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
              </div>
            </div>
        </div>
    </div>
{% endblock %}