{% block service_params %}

<div class="modal fade" id="service_params" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p id="error"></p>
            </div>
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    <!-- Mandatory fields for service definition. -->
                    <div id="service_mandatory_fields">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="ip" class="col-form-label">IP:</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ip"
                                       placeholder="IP address"
                                       pattern="[0-9]+.[0-9]+.[0-9]+.[0-9]+" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="port" class="col-form-label">Port:</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="port" placeholder="Port"
                                       min="1"
                                       max="65535" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="name" class="col-form-label">Name:</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Service name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="class_path" class="col-form-label">Classpath:</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="class_path"
                                       placeholder="Classpath" required>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons to add optional services. -->
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default" onclick="add_optional_param()"><span
                                    class="fas fa-plus"></span></button>
                            <button type="button" class="btn btn-default" onclick="remove_optional_param()"><span
                                    class="fas fa-minus"></span></button>
                        </div>
                    </div>
                    <!-- Optional fields for service definition. -->
                    <div id="service_optional_fields"></div>
            </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="send_params()">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>

<script>
function add_optional_param() {
    // Get parent element.
    var parent = document.getElementById("service_optional_fields");
    // Create key input field.
    var key_div = document.createElement("div");
    key_div.setAttribute("class", "col-sm-4");
    var key_input = document.createElement("input");
    key_input.setAttribute("type", "text");
    key_input.setAttribute("class", "form-control");
    key_input.setAttribute("id", "key");
    key_input.setAttribute("placeholder", "Key");
    key_div.appendChild(key_input);
    // Create value input field.
    var value_div = document.createElement("div");
    value_div.setAttribute("class", "col-sm-8");
    var value_input = document.createElement("input");
    value_input.setAttribute("type", "text");
    value_input.setAttribute("class", "form-control");
    value_input.setAttribute("id", "value");
    value_input.setAttribute("placeholder", "Value");
    value_div.appendChild(value_input);
    // Append both inputs to form group.
    var form_group_div = document.createElement("div");
    form_group_div.setAttribute("class", "form-group row");
    form_group_div.appendChild(key_div);
    form_group_div.appendChild(value_div);
    // Append all elements to corresponding parent tag.
    parent.appendChild(form_group_div);
}

function remove_optional_param() {
    var parent = document.getElementById("service_optional_fields");
    parent.removeChild(parent.lastChild);
}

function send_params() {
    // Get mandatory parameters.
    var ip = document.getElementById("ip").value;
    var port = document.getElementById("port").value;
    var name = document.getElementById("name").value;
    var class_path = document.getElementById("class_path").value;
    // Get optional parameters.
    var optional = document.getElementById("service_optional_fields");
    // Store each optional parameters
    // as key / value pair in array.
    var optional_param_keys = [];
    var optional_param_values = [];
    var child;
    var key;
    var value;
    for (i = 0; i < optional.childNodes.length; i++) {
        child = optional.childNodes[i];
        key = child.querySelector("#key").value;
        value = child.querySelector("#value").value;
        optional_param_keys.push(key);
        optional_param_values.push(value);
    }
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
    $.post("create_service", {ip: ip, port: port, name: name, class_path: class_path, optional_param_keys: optional_param_keys, optional_param_values: optional_param_values, csrfmiddlewaretoken: CSRFtoken}).done(function(){
        location.reload();
    });

}













</script>

{% endblock service_params %}