<!-- Services -->
<div class="row pb-2">
    <!-- Running services. -->
    <div class="col-md-8 scrollable-parent">
        <div class="card w-auto border-0" style="overflow-x:hidden;height:300px">
            <div class="card-body">
                <h5 class="card-title">Running services</h5>
                <div class="card-columns" id="running_services"></div>
            </div>
        </div>
    </div>
    <!-- Available services. -->
    <div class="col-md-4 scrollable-parent">
        <div class="card w-auto border-0" style="overflow-x:hidden;height:300px">
            <div class="card-body">
                <h5 class="card-title">
                    Available services
                </h5>
                <button type="button" class="btn btn-default" id="new_service" data-toggle="modal"
                        data-target="#service_params">
                    <span class="fas fa-plus"></span>
                </button>
                <ul class="list-group" id="available_services"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Pipelines. -->
<div class="row pb-4">
    <!-- Selected pipeline. -->
    <div class="col-md-8 scrollable-parent">
        <div class="card w-auto border-0" style="overflow-x:hidden;height:400px">
            <div class="card-body">
                <h5 class="card-title">
                    Current pipeline
                </h5>
                {% block pipeline_params %}
                {% include "web/_includes/pipeline_params.html" %}
                {% endblock pipeline_params %}
            </div>
        </div>
    </div>
    <!-- Available pipelines. -->
    <div class="col-md-4 scrollable-parent">
        <div class="card w-auto border-0" style="height:400px">
            <div class="card-body">
                <h5 class="card-title">
                    Available pipelines
                </h5>
                <button type="button" class="btn btn-default" onclick="show_pipeline(this)"
                        data-name="" data-services="" data-active="">
                    <span class="fas fa-plus"></span>
                </button>
                <ul class="list-group">
                    {% for data in pipeline_data %}
                    {% if data.2 == True %}
                    <li class="list-group-item" onclick="show_pipeline(this)"
                        data-name="{{ data.0 }}" data-services="{{ data.1 }}"
                        data-active="{{ data.2 }}">
                        {{ data.0 }}
                    </li>
                    {% else %}
                    <li class="list-group-item text-muted" onclick="show_pipeline(this)"
                        data-name="{{ data.0 }}" data-services="{{ data.1 }}"
                        data-active="{{ data.2 }}">{{ data.0 }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>