{% block services_and_pipes %}
<div class="container">
    <!-- Services -->
    <div class="row">
        <div class="col-md-8">
            <div class="card w-auto" style="width: 18rem;height:300px; overflow-y:scroll;">
              <div class="card-body">
                <h5 class="card-title">Running Services</h5>
                  <div class="card-columns">
                    {% for key, value in running_services_dict.items %}
                      <div class="card" onclick="addToPipe(this)" data-value_name="{{ key }}" >
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-12">
                                      <small> {{ key }} </small>
                                  </div>
                                  <div class="col-md-2 ml-2">
                                      {% if watch_active|get_value:key == True %}
                                          <button type="button" onclick="watch(this)" data-value_name="{{ key }}" class="btn btn-default btn-xs focus active" data-toggle="button" aria-pressed="true" autocomplete="off">
                                              <span class="fas fa-eye"></span>
                                           </button>
                                      {% else %}
                                            <button type="button" onclick="watch(this)" data-value_name="{{ key }}" class="btn btn-default btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off">
                                              <span class="fas fa-eye-slash"></span>
                                           </button>
                                      {% endif %}
                                  </div>
                                  <div class="col-md-2 ml-2">
                                      <button type="button" onclick="stop_service(this)" data-value_name="{{ key }}" class="btn btn-primary btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off">
                                          <span class="fas fa-trash-alt"></span>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Available services. -->
    <div class="col-md-4">
        <div class="card w-auto" style="width: 18rem;height:300px;overflow-y:scroll;">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" data-toggle="modal" data-target="#service_params">New service
                    </li>
                    {% for key, value in available_services_dict.items %}
                    <li class="list-group-item" onclick="run_service(this)" data-value_name="{{ key }}"
                        value="{{ value }}">{{ key }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Pipelines. -->
<div class="row">
    <!-- Selected pipeline. -->
    <div class="col-md-8">
        <div class="card w-auto" style="width:18rem;height:300px">
            <div class="card-body">
                {% block pipeline_params %}
                {% include "web/_includes/pipeline_params.html" %}
                {% endblock pipeline_params %}
            </div>
        </div>
    </div>
    <!-- Available pipelines. -->
    <div class="col-md-4">
        <div class="card w-auto" style="width:18rem;height:300px;overflow-y:scroll;">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" onclick="show_pipeline(this)"
                        data-value_name="" data-value_services=""
                        data-value_active="">New pipeline
                    </li>
                    {% for data in pipeline_data %}
                    {% if data.2 == True %}
                    <li class="list-group-item" onclick="show_pipeline(this)"
                        data-value_name="{{ data.0 }}" data-value_services="{{ data.1 }}"
                        data-value_active="{{ data.2 }}">{{ data.0 }}
                    </li>
                    {% else %}
                    <li class="list-group-item text-muted" onclick="show_pipeline(this)"
                        data-value_name="{{ data.0 }}" data-value_services="{{ data.1 }}"
                        data-value_active="{{ data.2 }}">{{ data.0 }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock services_and_pipes %}