<!-- Services -->
<div class="row pb-2">
    <div class="col-md-8 scrollable-parent">
        <div class="card w-auto border-0" style="overflow-x:hidden;height:300px">
            <div class="card-body">
                <h5 class="card-title">Running services</h5>
                <div class="card-columns">
                    {% for key, value in running_services_dict.items %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row" title="{{ value }}">
                                <div class="col">
                                    <small>{{ key }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" onclick="add_to_current_pipe(this)" data-name="{{ key }}"
                                            class="btn btn-default" data-toggle="button" aria-pressed="false">
                                        <span class="fas fa-arrow-down"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    {% if watch_active|get_value:key == True %}
                                    <button type="button" onclick="watch(this)" data-name="{{ key }}"
                                            class="btn btn-default" data-toggle="button" aria-pressed="true">
                                        <span class="fas fa-eye"></span>
                                    </button>
                                    {% else %}
                                    <button type="button" onclick="watch(this)" data-name="{{ key }}"
                                            class="btn btn-default" data-toggle="button" aria-pressed="false">
                                        <span class="fas fa-eye-slash"></span>
                                    </button>
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="stop_service(this)" data-name="{{ key }}"
                                            class="btn btn-default" data-toggle="button" aria-pressed="false">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Available services. -->
    <div class="col-md-4 scrollable-parent">
        <div class="card w-auto border-0" style="overflow-x:hidden;height:300px">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item active" data-toggle="modal" data-target="#service_params">New service
                    </li>
                    {% for key, value in available_services_dict.items %}
                    <li class="list-group-item" onclick="run_service(this)" data-value_name="{{ key }}"
                        value="{{ value }}">{{ key }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Pipelines. -->
<div class="row pb-4">
    <!-- Selected pipeline. -->
    <div class="col-md-8 scrollable-parent">
        <div class="card w-auto border-0" style="overflow-x:hidden;height:400px">
            <div class="card-body">
                <h5 class="card-title">
                        Current Pipeline
                </h5>
                {% block pipeline_params %}
                {% include "web/_includes/pipeline_params.html" %}
                {% endblock pipeline_params %}
            </div>
        </div>
    </div>
    <!-- Available pipelines. -->
    <div class="col-md-4 scrollable-parent">
        <div class="card w-auto border-0" style="height:400px">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item active" onclick="show_pipeline(this)"
                        data-name="" data-services=""
                        data-active="">New pipeline
                    </li>
                    {% for data in pipeline_data %}
                    {% if data.2 == True %}
                    <li class="list-group-item" onclick="show_pipeline(this)"
                        data-name="{{ data.0 }}" data-services="{{ data.1 }}"
                        data-active="{{ data.2 }}">
                        {{ data.0 }}
                    </li>
                    {% else %}
                    <li class="list-group-item text-muted" onclick="show_pipeline(this)"
                        data-name="{{ data.0 }}" data-services="{{ data.1 }}"
                        data-active="{{ data.2 }}">{{ data.0 }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>